.header {
  height: 70px;
  margin: 0 0 70px;
  padding: 44px 1082px 42px 150px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
  display: flex;
  align-items: center;
  @media screen and(max-width:768px) {
    justify-content: center;
    padding: 20px;
  }
  img {
    width: 250px;
    object-fit: contain;
  }
}
